        {% extends "layout.html" %}
        {%  block page_content %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                <span><a class="fa fa-home" href="/user"></a><span>
                <span class="fa fa-angle-right"> 用户信息 </span>
                </h3>
              </div>

              <div class="title_right">
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <h1>
                          <span class="glyphicon glyphicon-user"></span>
                          </h1>
                        </div>
                      </div>
                     {% if current_user.is_authenticated %}
                     <h3> {{ current_user.username }} </h4>

                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i>{{ current_user.last_login_ip }}
                        </li>
                      </ul>

                      <a id="editprofile" href="/user" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>编辑配置</a>
                      <a id="chgepwd"  class="btn btn-success"><i class="fa fa-key m-right-xs"></i>修改密码</a>
                      <br />

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-12">
                          <h2>修改密码</h2>
                        </div>
                      </div>
                      <div class="x_panel">
                        <div class="x_content">
                          <form class="form-horizontal form-label-left" data-parsley-validate="validate">
                            <div class="item form-group">
                              <label for="password" class="control-label col-md-3 col-sm-3 col-xs-12">原始密码 <span class="required">*<span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="repeatpassword" type="password"  class="form-control col-md-7 col-xs-12"  placeholder="请输入原始输入密码" data-parsley-required="true" data-parsley-length="[8, 32]"  data-parsley-length-message="请输入8-32>位字母数字特殊符号组合" data-parsley-trigger="blur" data-parsley-required-message="请输入8-32位字母数字特殊符号组合">
                              </div>
                            </div>
                            <div class="item form-group">
                              <label for="newpassword" class="control-label col-md-3 col-sm-3 col-xs-12">新密码 <span class="required">*<span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="newpassword" type="password"  class="form-control col-md-7 col-xs-12"  placeholder="请输入新密码" data-parsley-required="true" data-parsley-length="[8, 32]"  data-parsley-length-message="请输入8-32>位字母数字特殊符号组合" data-parsley-trigger="blur" data-parsley-required-message="请输入8-32位字母数字特殊符号组合">
                              </div>
                            </div>
                            <div class="item form-group">
                              <label for="repeatpassword" class="control-label col-md-3 col-sm-3 col-xs-12">确认新密码 <span class="required">*<span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="repeatpassword" type="password"  class="form-control col-md-7 col-xs-12"  placeholder="重复输入新密码" data-parsley-required="true" data-parsley-length="[8, 32]"  data-parsley-length-message="请输入8-32>位字母数字特殊符号组合" data-parsley-trigger="blur" data-parsley-required-message="请输入8-32位字母数字特殊符号组合" data-parsley-equalto="#newpassword" data-parsley-equalto-message="两次密码输入不一致">
                              </div>
                            </div>
                            {% endif %}
                            <div class="item form-group">
                              <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
                                <button id="save" class="btn btn-primary"/> 确认 </button>
                                <a id="cancel" href="/user" class="btn btn-default"/> 取消 </a>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        {% endblock %}
{% block js %}
<script src="/static/js/parsley.js"></script>
<script src="/static/js/jsencrypt.min.js"></script>
<script src="/static/js/formvalidation.js"></script>
{% endblock %}
