{% extends "layout.html" %}
{% block page_content %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>域名管理</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="clearfix"></div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <button id="addrecord" class="btn btn-primary">添加域名</button>
                    <button class="btn btn-primary">暂停域名</button>
                    <button id="deletes" data-toggle="modal" data-target="#conformmodel" class="btn btn-primary">删除域名</button>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">
                        <input id="searchcontent" name="wd" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">搜索</button>
                        </span>
                      </div>
                    </div>
                  </div>
                 <div class="clearfix"></div>
                  <div class="x_content">
                    <form  class="form-horizontal">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title"> 域名 </th>
                            <th class="column-title"></th>
                            <th class="bulk-actions" colspan="3">
                              <a class="antoo" style="color:#fff; font-weight:500;">已选 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                         {% for domain in domains %}
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">
                              <span><a name ="domain" href="/dns/{{ domain }}">{{ domain }}</a></span>
                              <div class="form-group">
                                <input type="text" class="form-control hidden" name="domain" type="hidden">
                              </div>
                            </td>
                            <td class=" ">
                              <div class="input-group-btn">
                                <button name="save" class="btn btn-primary submit hidden" type="submit">确认</button>
                                <p name="cancel" class="btn btn-default hidden" type="hidden">取消</p>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block js %}
<script>
  $(function(){
    $("#searchcontent").keyup(function(){
      var text = $("#searchcontent").val().trim();
      $("table tbody tr")
        .hide()
        .filter(":contains('"+text+"')")
        .show();
    });
  });
</script>
<script src='/static/js/dns.js'></script>
{% endblock %}

